<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  .container{
    text-align: center;
  }
  .card{
     width: 20%;
     display: inline-block;
     box-shadow: 2px 2px 20px black;
     border-radius: 5px; 
     margin: 2%;
    }
    input[type="text"] {
    width:80%;
  	height: 30px;
    display: relative;
  margin:0 auto;
  	padding: 3px;
  	font-size: 1.8rem;
  	border: 1px solid gray;
}
input[type="number"] {
  width:80%;
  display: relative;
  margin:0 auto;
		height: 30px;
  	padding: 3px;
  	font-size: 1.8rem;
  	border: 1px solid gray;
}
.form{
  display: flex;
  flex-direction: column;
width:100%;
}
.bg{
  background: cadetblue;
  color:white;
}
h1{
  color:White;
}
body{
  padding:0;
  margin:0;
}
button{
  box-shadow:inset 0px 1px 0px 0px #fce2c1;
	background:linear-gradient(to bottom, #ffc477 5%, #fb9e25 100%);
	background-color:#ffc477;
	border-radius:11px;
	border:2px solid #eeb44f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	padding:8px 18px;
	text-decoration:none;
	text-shadow:0px 1px 0px #cc9f52;
}
h1{
  font-family: 'Courier New', Courier, monospace;
}
h2{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h3{
  font-family: Arial, Helvetica, sans-serif;
}
p{font-family: Arial, Helvetica, sans-serif;}
label{font-family: Arial, Helvetica, sans-serif;}
.button {
	box-shadow:inset 0px 1px 0px 0px #fce2c1;
	background:linear-gradient(to bottom, #ffc477 5%, #fb9e25 100%);
	background-color:#ffc477;
	border-radius:11px;
	border:2px solid #eeb44f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	padding:8px 18px;
	text-decoration:none;
	text-shadow:0px 1px 0px #cc9f52;
}
.button:hover {
	background:linear-gradient(to bottom, #fb9e25 5%, #ffc477 100%);
	background-color:#fb9e25;
}
.button:active {
	position:relative;
	top:1px;
}
</style>

<!-- Toolbar -->
<div class="container">
  <div class="bg">

    <h1>Budget Calculator</h1>
    <h2>Income:{{incomeTotal| currency: 'USD'}}
      Expenses:{{expensesTotal| currency: 'USD'}}</h2>
      <h2>Difference:{{expensesTotal-incomeTotal| currency: 'USD'}}</h2>
      
    </div>


<!-- <button (click)="add();">ADD</button><button (click)="remove();">REMOVE</button> -->

<form class="card" (ngSubmit)="formSubmitIncome();">
  <div class="form">
    <h3>Income</h3>
  {{incomeInput}}
    <label for="amount">Purchase Name</label><input type="text" name="purchaseName" id="purchase" max="10000" min="0">
  
    <label for="amount">Amount</label><input type="number" name="amount" [(ngModel)]="incomeInput" id="amount" max="10000" min="0">
  
  </div>
  <button type="submit">Calculate</button>
  </form>
  <form class="card" (ngSubmit)="formSubmitExpenses();">
    <div class="form">
      <h3>Expenses</h3>
    {{expensesInput}}
      <label for="amount">Purchase Name</label><input type="text" name="purchaseName" id="purchase" max="10000" min="0">
    
      <label for="amount">Amount</label><input type="number" name="amount2" [(ngModel)]="expensesInput" id="amount" max="10000" min="0">
    
    </div>
    <button type="submit">Calculate</button>
    </form>

<div>
<h3>
  Income:{{incomeTotal}}

</h3>
<ul>
  <li></li>
</ul>


</div>
<div>
<h3>

  Expenses:{{expensesTotal}}

</h3>
<ul>
  <li></li>
</ul>
</div>

<router-outlet></router-outlet>
